@charset "utf-8";

@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
    font-family: 'Noto Sans KR', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'NotoSansKR';
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    color: #333;
    line-height: 1;
    font-weight: 500;
}

/*  header */
header {
    position: relative;
}

header .inner {
    width: 1440px;
    margin: 0 auto;
}

header .inner .hd_top {
    font-size: 14px;
    height: 90px;
    line-height: 90px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

/* 구분선 */
header::before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #dbdbdb;
    display: block;
    position: absolute;
    top: 90px;
    left: 0;
}

header .inner .hd_top h1 {
    height: 90px;
}

header .inner .hd_top h1 a {
    height: 100%;
    width: 240px;
    display: flex;
    align-items: center;
}

header .inner .hd_top ul {
    display: flex;
}

header .inner .hd_top ul li {
    margin-left: 16px;
}

header .inner .hd_top ul li:nth-child(3) a img {
    margin-top: 36px;
}

.search input {
    border-style: none;
    padding-left: 22px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 44px;
    background-color: #f1f1f5;
    border-radius: 30px;
    width: 460px;
    color: #797979;
}

.hd_top .search {
    position: relative;
}

.hd_top .search img {
    width: 14px;
    height: 14px;
    z-index: 1;
    position: absolute;
    top: 50%;
    right: -223px;
    transform: translateY(-50%);
    background-color: dbdbdb;
}

select {
    border: 0;
}

/* hd_bottom */
header .inner .hd_bottom {
    height: 60px;
    line-height: 60px;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

header .hd_bottom .menu_left li a {
    display: flex;
    align-items: center;
}

header .hd_bottom .menu_left li a img {
    width: 13px;
    margin-right: 10px;
}

header .hd_bottom nav .gnb {
    display: flex;
}

header .hd_bottom nav .gnb>li {
    margin-left: 24px;
}

header .hd_bottom .menu_right {
    display: flex;
}

header .hd_bottom .menu_right li {
    margin-left: 16px;
    font-size: 14px;
    color: #797979;
}

header .inner .hd_bottom nav .gnb .depth01 {
    position: relative;
}

header .inner .hd_bottom nav .gnb .depth01 .depth02 {
    display: none;
}

header .inner .hd_bottom nav .gnb .depth01 .depth02 {
    position: absolute;
    top: 50px;
    line-height: 35px;
}

header .inner .hd_bottom nav .gnb .depth01:hover .depth02 {
    background-color: #33333388;
    color: #fff;
    font-weight: 500;
    display: block;
}

header .inner .hd_bottom nav .gnb .depth01:hover .depth02 li {
    padding: 0 10px;
    font-size: 14px;
}

header .inner .hd_bottom nav .gnb .depth01:hover .depth02 li:hover {
    background-color: #333333c0;
}

header .inner .hd_bottom nav .gnb .depth01:hover {
    font-weight: 700;
}

header .inner .hd_bottom .menu_left li:hover {
    font-weight: 700;
}

header .inner .hd_bottom .menu_right li:hover {
    font-weight: 700;
}

/*  main_visual */
.main_visual {
    width: 1440px;
    margin: 80px auto;
}

.main_visual .list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_visual>img {
    width: 700px;
    object-fit: cover;
}

.main_visual div p:nth-of-type(1) {
    color: #797979;
    margin-bottom: 24px;
}

.main_visual div h3 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}

.main_visual .list div {
    margin-bottom: 80px;
    text-align: center;
}

.main_visual div p {
    line-height: 22px;
}

.main_visual .list div .icon {
    margin-top: 20px;
}

.main_visual div .icon {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_visual div .icon img {
    margin-left: 4px;
}

/* new  */
.new {
    width: 1280px;
    margin: 80px auto 130px;
}

.new .inner {
    display: flex;
    justify-content: center;
}

.new h3 {
    font-size: 28px;
    margin-bottom: 40px;
    text-align: right;
    margin-right: 50px;
    font-weight: 700;
}

.new .inner .tab_menu li a {
    display: flex;
    position: relative;
}

.new .inner .tab_menu li a:hover::after {
    content: '';
    width: 490px;
    height: 2px;
    background-color: #333;
    display: block;
    position: absolute;
    left: -10px;
    top: 100px;
}

.new .inner .tab_menu li a>p {
    margin-top: 26px;
    font-size: 18px;
    color: #4d5d89;
    margin-right: 13px;
    font-weight: 700;
}

.new .inner .tab_menu li a div p {
    color: #797979;
    margin-bottom: 10px;
    margin-top: 22px;
}

.new .inner .tab_menu li div h4 {
    font-size: 24px;
    margin-bottom: 80px;
    font-weight: 700;
}

.new .tab_cont figure {
    width: 900px;
}

.new .tab_cont figure a {
    margin-left: 100px;
}

.new .tab_cont figure img {
    width: 100%;
    height: 100%;
}

.new figure img {
    transition: 0.8s;
}

.new figure img:hover {
    transform: scale(1.013);
}

/* recommend */
.recommend {
    width: 1440px;
    margin: 130px auto;
}

.recommend h3 {
    font-size: 28px;
    text-align: center;
    font-weight: 700;
}

.recommend .top {
    display: flex;
    justify-content: center;
    margin: 20px 0 50px;
    position: relative;
}

.recommend .top ul {
    display: flex;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #797979;
}

.recommend .top ul li:hover {
    color: #333;
    font-weight: 700;
}

.recommend .top ul li {
    margin-left: 27px;
}

.recommend .top ul li:nth-of-type(1) {
    margin-left: 0;
}

.recommend .list {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    display: none;
}

.recommend .list.on {
    display: flex;
}

.recommend .list .item {
    width: 384px;
    margin: 0 16px;
}

.recommend .list .item figure {
    width: 360px;
}

.recommend .list .item img {
    width: 100%;
    height: 200px;
    display: block;
}

.recommend .list .item div {
    text-align: center;
    margin-top: 16px;
}

.recommend .list .item div p {
    font-size: 14px;
    color: #797979;
}

.recommend .list .item div h4 {
    margin: 10px 0 8px;
    font-size: 20px;
    font-weight: 600;
}

.recommend .list .item div strong {
    font-size: 18px;
    margin: 20px 0 30px;
    display: block;
    color: #1f386e;
    font-weight: 700;
}

.recommend .list .item div a {
    display: block;
    font-size: 14px;
}

.recommend .list .item div a:nth-of-type(1) {
    height: 28px;
    line-height: 28px;
    background-color: #0036b0;
    width: 102px;
    text-align: center;
    color: #fff;
    border-radius: 14px;
    display: inline-block;
}

.recommend .list .item div a:nth-of-type(1):hover {
    background-color: #072b80;
}

.recommend .list .item div a:nth-of-type(2) {
    margin-top: 10px;
    color: #0036b0;
    position: relative;
}

.recommend .list .item div a:nth-of-type(2):hover::after {
    content: '';
    width: 75px;
    height: 1px;
    background-color: #0036b0;
    display: block;
    position: absolute;
    bottom: -5px;
    left: 154px;
}

.recommend .list figure img {
    transition: 0.7s;
}

.recommend .list figure img:hover {
    transform: scale(1.04);
}

/* best */
.best {
    width: 1440px;
    margin: 130px auto;
    position: relative;
    margin-bottom: 100px;
    height: 623px;
}

.best h3 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 32px;
    font-weight: 700;
}

.best .product_list {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 70px;
}

.best .product_list div {
    margin-top: 113px;
}

.best div p {
    color: #797979;
    line-height: 26px;
}

.best div h3 {
    display: inline-block;
    font-size: 28px;
    margin: 26px 0 13px;
    font-weight: 700;
}

.best div p:nth-of-type(1) {
    font-size: 15px;
}

.best div strong {
    font-weight: bold;
    margin: 40px 0 48px;
    display: block;
    font-size: 20px;
    font-weight: 700;
}

.best div a {
    display: block;
    font-size: 15px;
}

.best div a img {
    margin-bottom: 2px;
    margin-left: 2px;
}

/* help */
.help {
    width: 1440px;
    margin: 130px auto;
}

.help h3 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 700;
}

.help .list {
    display: flex;
    justify-content: space-between;
}

.help .list .item {
    background-color: #f1f1f5;
    width: 464px;
    height: 262px;
    border-radius: 16px;
    position: relative;

}

.help .list .item a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.help .list .item a div {
    width: 244px;
}

.help .list .item a div h4 {
    font-size: 18px;
    margin-bottom: 12px;
    font-weight: 600;
}

.help .list .item a div p {
    color: #797979;
    font-weight: 400;
}

.help .list .item:last-child a img {
    margin-left: 20px;
}

/* banner */
.banner {
    width: 1440px;
    margin: 0 auto;
    position: relative;
}

.banner figure {
    width: 240px;
    height: 180px;
}

.banner div {
    position: absolute;
    top: 50%;
    left: 125px;
    transform: translateY(-50%);
    color: #fff;
}

.banner div h4 {
    margin-bottom: 16px;
    font-size: 20px;
}

.banner div p {
    font-size: 15px;
}

/* footer */
footer {
    width: 1440px;
    margin: 0 auto;
    margin-top: 100px;
    color: #90a0a6;
    margin-bottom: 40px;
    font-size: 14px;
}

.footer_top ul {
    display: flex;
    height: 65px;
    line-height: 65px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

.footer_top ul li {
    font-size: 14px;
}

.footer_top ul li:nth-of-type(4) {
    color: #158fdf;
}

.footer_top ul li span {
    height: 12px;
    margin: 0 8px;
}

.footer_bottom {
    display: flex;
    justify-content: space-between;
}

.footer_bottom>p {
    margin-top: 32px;
    line-height: 24px;
}

.footer_bottom div p:nth-of-type(1) {
    margin-top: 48px;
    margin-bottom: 20px;
}